@model WordExists.Controllers.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>Søk etter norske ord og se om de finnes i ordboka</h2>
            </hgroup>
        </div>
    </section>
}

<div id="randomWord">@Model.RandomWord</div>
<div id="rightWords"></div>
<input id="word" type="text"/>

<script>
    var numberOfRightWords = 0;
    $(document).ready(function () {
        var randomWord = "@Model.RandomWord";
        $("#word").on('keyup', function () {
            delay(function () {
                var urlExtension = 'word=' + $("#word").val() + '&randomWord=' + randomWord;
                $.get('/Home/WordExists?' + urlExtension, function (data) {
                    var setStyle = function (color) {
                        $("#word").css('border', '2px solid ' + color);
                        $("#word").css('color', color);
                    };
                    var setRightWords = function (num) { $("#rightWords").html(num); };
                    if (data.IsValid) {
                        setStyle('green');
                    } else if (!data.IsValid && $("#word").val().length > 0) {
                        setStyle('red');
                    } else {
                        setStyle('grey');
                    }
                });
            }, 300);
        });
    });
    
    var delay = (function () {
        var timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms);
        };
    })();
</script>